* {

}

body {
    background-color: white;
    background: url(/images/hisotry-gif.gif);
    background-size: cover;
    border: solid;
    border-color: red;
    border-width: 20px;
    border-radius: 40px;
}

.return-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.paragraph {
    text-align: center;
    color: blue;
    font-size: larger;
    padding-right: 250px;
    padding-left: 250px;
}

.main-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.image-caption {
    text-align: center;
    color: blue;
    font-weight: bold;
}

.return-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 11%;
    border-radius: 10px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    border: solid;
    border-radius: 40px;
    border-color: blue;
    border-width: 20px;
    padding: 5px;
}

.return-button-text {
    text-align: center;
    color: blue;
}

.main-menu-links {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: blue;
}